* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(72, 163, 0, 0.07);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.heading {
    font-weight: 700;
    font-weight: bold;
    font-size: 64px;
    text-align: center;

}

.heading {
    color: rgb(72, 160, 0);
}

.heading span {
    color: rgba(97, 72, 28, 1);
}

.container {
    background-color: rgba(251, 251, 251, 1);
    /* height: 660px;  */
    max-width: 810px;
    width: 100%;
    margin-inline: auto;
    border-radius: 15px;
    padding: 30px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
}

.heading-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.progress-info {
    margin-top: 30px;

}

.para-1 {
    color: rgb(100, 109, 93);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
}

.progress-bar {

    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
}

.progress-value {
    height: 100%;
    width: 33%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 15px;
}

.warning-message {
    font-family: Poppins;
    font-weight: 400;

    font-size: 14px;
    line-height: 100%;

    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

    min-height: 82px;
    border-radius: 17px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0 40px 0;

}

.checkbox {
    margin-left: 20px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border-width: 2px;
    border: 1px solid rgba(97, 72, 28, 0.3);
    flex-shrink: 0;
    cursor: pointer;
}

.goal-input {
    background-color: rgba(255, 255, 255, 1);
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 17px;
}

.goal-input::placeholder {
    color: rgba(217, 217, 217, 1);
}

.quote {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

.author {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 10px;
    color: rgba(133, 133, 133, 1);
    margin-top: 64px;

}

@media (max-width: 768px) {
    .heading {
        font-size: 32px;
    }

    .container {
        padding: 16px 20px;
    }

    .box {
        min-height: 64px;
        border-radius: 12px;
        margin-bottom: 20px;
    }

    .checkbox {
        width: 20px;
        height: 20px;
    }
    h2{
        font-size: 28px;
    }
    .sun-img{
        height: 40px;
        width: 40px;
    }
}