*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.counter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.value{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-btn{
    background-color: aqua;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
}

.add-btn{
    background-color: aqua;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
}

input{
    width: 60px;
    height: 30px;
    padding: 0 4px;
}

button{
    background-color: aqua;
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
}