.body{
    padding: 20px;
}

.dark-theme{
    display: flex;
    align-items: center;
    
}

.container-dark-mode{
    display: flex;
    align-items: center;
}

.container-text{
    border: 1px solid black;
    padding: 40px;
}

.body-theme-dark{
    background-color: black;
    color: white;
    
} 

.container-theme{
    background-color: black;
    color: white;
}

.body-theme-dark .container-text{
    border: 1px solid white;
}