*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.boxes{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.grey{
    background-color: grey;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}